
        <!DOCTYPE html>
        <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Página de hashirolol</title>
            <link rel="stylesheet" href="/static/css/styles.css">
        </head>
        <body>
            <h1>Bienvenido a la página de hashirolol</h1>
            <p>Esta es la página personalizada de hashirolol.</p>
            
                <img src="/static/images/dj/hashiro.png" alt="hashirolol" style="max-width: 300px;">
            
            <!-- Puedes agregar más contenido aquí -->
        </body>
        </html>
        