body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 30px;
}

.inicioButton{
    color:white;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;

}
.inicioButton:hover{
    color: #f300ff;
    background: linear-gradient(
        to left,
        #f300ff 20%,
        #f866ff 30%,
        #fcbfff 70%,
        #fee2ff 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 0.5s ease-in-out infinite alternate;
    
    text-decoration: none;
    transform: translateX(30px);
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}