<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de DJs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="content">
        <h2>Lista de DJs</h2>
        <a href="{{ url_for('main.crear_dj') }}" class="btn btn-primary mb-3">Crear DJ</a>
        <div class="card-container">
            {% for dj in djs %}
                <div class="card">
                    {% if dj.foto %}
                        <img src="{{ url_for('static', filename='images/dj/' + dj.foto) }}" class="card-img-top" alt="{{ dj.nombre_dj }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top" alt="Imagen por defecto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ dj.nombre_dj }}</h5>
                        <p class="card-text">{{ dj.descripcion }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <footer class="footer">
        <!-- Puedes agregar información adicional en el pie de página si lo deseas -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
