<!DOCTYPE html>
<html lang="es">

<link href="https://fonts.googleapis.com/css2?family=Jacquard+24&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

<header class="header navbar navbar-expand-lg navbar-light">
    <div class="container d-flex justify-content-between align-items-center">
       
        <!-- Enlace dinámico según el tipo de usuario -->
        {% if current_user.is_authenticated %}
            {% if current_user.tipo_usuario == 'admin' %}
                <a href="{{ url_for('main.inicio_admin') }}" class="tNavBar">RaveRunners</a>
            {% elif current_user.tipo_usuario == 'raver' %}
                <a href="{{ url_for('main.inicio_raver') }}" class="tNavBar">RaveRunners</a>
            {% elif current_user.tipo_usuario == 'funcionario' %}
                <a href="{{ url_for('main.inicio_funcionario') }}" class="tNavBar">RaveRunners</a>
            {% elif current_user.tipo_usuario == 'dj' %}
                <a href="{{ url_for('main.inicio_dj') }}" class="tNavBar">RaveRunners</a>
            {% else %}
                <a href="{{ url_for('main.index') }}" class="tNavBar">RaveRunners</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('main.index') }}" class="tNavBar">RaveRunners</a>
        {% endif %}

        <!-- Botón de hamburguesa para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú principal (colapsable en móviles) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto d-flex align-items-center">
                <!-- Botones específicos para Admin -->
                {% if current_user.is_authenticated and current_user.tipo_usuario == 'admin' %}
                    <a href="{{ url_for('main.ver_eventos') }}" class="navBarButton">Ver Eventos</a>
                    <a href="{{ url_for('main.admin_usuarios') }}" class="navBarButton">Administrar Usuarios</a>
                    <a href="{{ url_for('main.calendario') }}" class="navBarButton">Calendario</a>
                    <a href="{{ url_for('main.logout') }}" class="navBarButton">Cerrar sesión</a>

                {% endif %}

                <!-- Botones específicos para Funcionario -->
                {% if current_user.is_authenticated and current_user.tipo_usuario == 'funcionario' %}
                    <a href="{{ url_for('main.calendario') }}" class="navBarButton">Calendario</a>
                    <a href="{{ url_for('main.logout') }}" class="navBarButton">Cerrar sesión</a>

                {% endif %}

                <!-- Botones específicos para DJ -->
                {% if current_user.is_authenticated and current_user.tipo_usuario == 'dj' %}
                    <a href="{{ url_for('main.calendario') }}" class="navBarButton">Calendario</a>
                    <a href="{{ url_for('main.logout') }}" class="navBarButton">Cerrar sesión</a>

                {% endif %}

                <!-- Botones específicos para Raver -->
                {% if current_user.is_authenticated and current_user.tipo_usuario == 'raver' %}
                    <a href="{{ url_for('main.generar_qr_pagina', raver_id=current_user.id) }}" class="navBarButton">Generar QR</a>
                    <a href="{{ url_for('main.calendario') }}" class="navBarButton">Calendario</a>
                    <a href="{{ url_for('main.logout') }}" class="navBarButton">Cerrar sesión</a>

                {% endif %}
            </div>
        </div>
    </div>

</header>
